.media-scroller {
    overflow: auto;
    white-space: nowrap;
  }
  .media-scroller .media-element {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }